@font-face {
  font-family: 'typicons';
  src: url("bower_components/typicons/src/font/typicons.eot");
  src: url("bower_components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
  url("bower_components/typicons/src/font/typicons.woff") format('woff'),
  url("bower_components/typicons/src/font/typicons.ttf") format('truetype'),
  url("bower_components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Rockey;
  src: url(../fonts/ROCKYAOE.ttf);
}
*{
  padding:0;
  margin:0;
  border:0;
}

html,body{
  font-family: 'Roboto', sans-serif;
  height:100%;
  width:100%;
  color:#fcfcfc;
  background: #333333;
}
a{
  text-decoration:none;
  color:#fcfcfc;
}
  video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  background-size: cover;
  z-index: 1;
  pointer-events:none;
}
.staben{
  color:#e23827;
  font-family:Rockey;
}

#navigation{
  z-index: 200;
  float:left;
  width:275px;
  height:100%;
  background: #333333;
  text-align:center;
  -webkit-box-shadow: 4px 0 5px -4px #000;
  box-shadow: 4px 0 5px -4px #000;
}
#navigation > h2{
  padding:20px 0 5px 0;
  font-size:34pt;
  font-weight:normal;
}
#navigation > h3{
  padding:10px 0;
  font-size:24pt;
  font-weight:bold;
}
#navigation > p{
  padding:5px;
  font-weight:300;
  margin:0;
}
#navigation > nav{
  margin:40px 0;
}
#navigation > nav > ul{
  list-style:none;
  z-index: 200;
}
#navigation > nav > ul > li{
  padding: 8px;
  position:relative;
  cursor: pointer;
  z-index: 200;
}
#navigation > nav > ul > li a{
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 200;
}
#navigation > nav > ul > li.active{
  background-color:#222222;
}

.container{
  width:100%;
}
.container > .top-bar{
  z-index: 200;
  height:40px;
  background:#1a1a1a; 
  padding:10px;
}
.container > .top-bar button{
  display: inline-block;
  margin: 0 10px;
  z-index: 200;
}
.container > .top-bar > p{
  line-height:40px;
  margin: 0 10px;
  display:inline-block;
}
.container > .top-bar > p.next{
  color:#808080;
}
.container > .top-bar .buttons{
  display: inline-block;
  float: right;
  font-size: 24pt;
  margin: -5px 20px 0 0;
}
.container > .top-bar .buttons span{
  margin:0 10px;
  z-index: 200;
  cursor: pointer;
}
.container > .top-bar .buttons span:hover{
  color:#808080;
  z-index: 200;
}
.list{
  position:relative;
  max-width:400px;
  margin:20px auto;
  z-index: 2;
}
.list > h4{
  text-align:center;
  background:#e23827;
  max-height:60px;
  height:60px;
  line-height:60px;
}
.list > h4 > span{
  float:right;
  margin-right:10px;
  cursor: pointer;
}
.list > h4 > span.typcn-chart-pie-outline{
  float:left;
  margin-left:10px;
  cursor: pointer;
}
.list > h4 > span:hover{
  color:#1a1a1a;
}
.list > ul{
  list-style:none;
}
.list > ul > li{
  text-align:center;
  background:#2a2929;
  font-weight:300;
  height:50px;
  line-height:50px;
}
.list > ul > li > span{
  float:right;
  margin-right:10px;
  color:#606060; 
  cursor:pointer;
}
.list > ul > li > span:hover{
  color:#fcfcfc;
}
.list > img.arrow{
  position:absolute;
  left:-20px;
-webkit-transition-property: top, bottom;
        -webkit-transition-duration: 0.1s;
}
.list > ul > li:nth-child(even){
  background:#222222;
}
.list > ul > li.active{
}
.list > .add-player{
  background: #1a1a1a;
  padding: 10px;
  float:right;
  font-size: 10pt;
  cursor:pointer;
}

.list > .add-player input{
  color:#202020;
  padding: 5px;
}
.list > .add-player > p{
  display: inline-block;
}
.list > .add-player:hover{
  color:#808080;
}
.fadeout{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,.5);
}
.popup{
  position:fixed;
  width:960px;
  margin:auto;
  top:100px;
  left:0;
  right:0;
  min-height:250px;
  background:#333333;
  z-index: 100;
}
.popup label{
  display:block;
}
.popup .pad{
  padding:20px;
}
.popup input{

  display: block;
  padding:5px;
  color:#202020;
}
.popup .footer{
  position: absolute;
  bottom: 0;
  background-color: #1a1a1a;
  width:100%;
}
.popup .footer button{
  margin: 10px;
}
.popup p.text{
  margin-bottom: 50px;
}
.popup .set{
 margin-bottom: 50px; 
}
button{
  margin:10px 0;
  display: block;
  padding: 5px 15px;
  background-color:#e23827;
  z-index: 200;
}
button:hover{
  background-color:#B21000;
}
.mail{
  font-weight: 300;
  margin: 20px 0;
  font-size: 10pt;
}
.version{
  position: absolute;
  bottom: 0;
  font-size: 8pt;
}

#changelogs{
  width:960px;
  margin:auto;
  padding:50px 0 0 0;
}

#changelogs > ul {
  margin-top: 10px;
  list-style: none;
}
#changelogs > ul > li{
  font-weight: 300;
  margin-left: 20px; 
  padding: 15px;
  background:#2a2929;
  font-size: 10pt;
}
#changelogs > ul > li:nth-child(even){
  background:#222222;
}
#changelogs h2{
  background: #1a1a1a;
  padding: 5px 10px;
}