<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-material/angular-material.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-audio/app/angular.audio.js"></script>
<script src="/common/dodskrok.js"></script>
<script src="/common/live.js"></script>
<!-- inject:js -->
<script src="/common/controllers/LobbyController.js"></script>
<script src="/common/controllers/GameController.js"></script>
<script src="/common/directives/dkLobbyListItem/dkLobbyListItem.js"></script>
<script src="/common/directives/dkLobbyJoin/dkLobbyJoin.js"></script>
<script src="/common/directives/dkLobbyCreation/dkLobbyCreation.js"></script>
<script src="/common/directives/dkGameSettings/dkGameSettings.js"></script>
<script src="/common/directives/dkCarouselWheel/dkCarouselWheel.js"></script>
<!-- endinject -->
</body>

</html>
