<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dödskrök.se</title>
    <meta name="description" content="Dödskrök.se - Det ultimata förfestspelet!">
    <meta name="author" content="Ante Wall">
    <link rel="stylesheet" type="text/css" href="/css/components.css">
    <link rel='stylesheet' type="text/css" href='/bower_components/typicons/src/font/typicons.min.css' />
    <link rel='stylesheet' type="text/css" href='/bower_components/angular-material/angular-material.min.css' />
</head>

<body ng-app="dodskrok">
