.GameSettings {
    md-sidenav {
        label {
            font-weight: bold;
            color: white;
            text-align: center;
            width: 100%;
            display: block;
        }
        background-color: $dkDark!important;
        md-chips {
            display: block;
            .md-chip {
                background-color: $dkRed;
                color: #eee;
            }
        }
        md-slider {
            padding: 0 20px;
        }
    }
}
