<!DOCTYPE html>
<html lang="en">
<head>


<title>Dödskrök.se - Spel - Powered by STABEN</title>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,700italic,300,700,400' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='bower_components/typicons/src/font/typicons.min.css' />
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="bower_components/flexboxgrid/src/css/flexboxgrid.css">
<link rel="stylesheet" href="css/style.css">
<script src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/angular.audio.js"></script>
<script src="js/dkgame.js"></script>
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60624848-1', 'auto');
  ga('send', 'pageview');

</script>-->
</head>
<body ng-app="dk">
  <video ng-hide="$root.hideFlames" autoplay loop poster="./img/fire.png" id="bgvid">
    <source src="fire.webm" type="video/webm">
  </video>
<div ng-hide="$root.hideMenu" id="navigation">
  <h2 class="staben">STABEN</h2>
  <p>presenterar</p>
  <h3>dödskrök.se</h3>
  <nav ng-controller="MenuCtrl">
    <ul>
      <li class="active">
      <a href="index.html">Spelet</a>      
      </li>
      <li>
      <a ng-click="profile('staben')">Profil - STABEN</a>      
      </li>
      <li>
      <a ng-click="profile('dgroup')">Profil - D-Group 14/15</a>      
      </li>
      <li>
      <a ng-click="profile('cc')">Profil - CC 13/14</a>      
      </li>
    </ul>

  </nav>
  <p class="mail">Vill du ha en profil inlagd? <br>Maila ante@dödskrök.se</p>
  <p class="version">Version 3.0.2 - <a href="changelog.html">Changelog</a></p>
</div>
<div class="container" ng-controller="DkCtrl">

  <div class="top-bar">
    <button ng-click="startGame()">Start Game</button>
    <p class="rounds">Spelade rundor: {{round}}</p>
    <p ng-show="round > 0 && playing == false" class="next">Nästa runda inom: {{getMinTimeLeft()}} ~ {{getMaxTimeLeft()}} sekunder</p>
    <div class="buttons">
      <span ng-click="showPopupHelp()" class="typcn typcn-info-large"></span>
      <span ng-click="showSettings()" class="typcn typcn-cog"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs" ng-repeat="list in lists">
      <div class="box">
        <div class="list">

          <img ng-hide="list.index == -1" class="arrow" ng-style="arrowPosition(list)" src="img/arrow.png">
          <h4> 
          <!--<span ng-click="openChart(list)" class="typcn typcn-chart-pie-outline"></span>-->

          {{list.title}} 
          <span ng-click="removeList(list)" class="typcn typcn-delete"><span>

          </h4>
          <ul>
            <li ng-repeat="player in players">
            {{player.name}}

            <span ng-click="removePlayer(player)" class="typcn typcn-delete"><span>
            </li>
          </ul>
          <div ng-click="addPlayerBox()" class="add-player">
            <p>Ny spelare</p>
            <span  class="typcn typcn-plus"></span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div ng-show="$root.blackout" ng-click="closePopup()" class="fadeout"></div>
  <div ng-show="popup.show"class="popup">
    <div class="pad">
      <div class="set" ng-show="popup.type == 'settings'">
        <h2>Inställningar</h2>  
        <p>Minsta tiden till nästa runda (minuter):</p>
        <input type="number" ng-model="startMin">
        <p>högsta tiden till nästa runda (minuter):</p>
        <input type="number" ng-model="startMax">
        <label>Nytt uppdrag</label>
        <input type="text" ng-model="listitem">
        <button ng-click="newListItem()">Lägg till</button>
        <label>Göm Menyn</label>
        <input type="checkbox" ng-model="$root.hideMenu">
        <label>Göm Flames</label>
        <input type="checkbox" ng-model="$root.hideFlames">
      </div>
      <div ng-show="popup.type == 'new-player'">
        <h2>Ny Spelare</h2>  
        <label>Namn</label>
        <input type="text" ng-model="playername">
        <button ng-click="newPlayer()">Lägg till</button>
      </div>
      <div ng-show="popup.type == 'help'">
        <h2>Hur kör man?</h2>
        <p class="text">Är förfesten lite slö? Eller kanske vill ni bara bli riktiga dödskrökare? Kolla då hit! <br>
          <br>
          Börja med att ställa in vilka inställningar ni vill använda med hjälp av <span class="typcn typcn-cog"> knappen. Ställ in hur ofta hjulen ska snurra. Ställ in alla spelare som ska vara med och köra. Det kan även vara kul att lägga till en spelare "Alla" som betyder att alla får dricka.
          <br><br>
          När ni har ställt in allt korrekt är det bara att klicka på "Start Game" så kommer den direkt att börja snurra första rundan! De personerna som pilarna pekar på får göra uppdraget som den pekar på. Sedan kommer den vänta så länge som ni har ställt in tiden på innan den börjar köra igen!
          <br><br>
          Spelare och tider kan ändras under spelets gång ifall ni vill det. Inställningarna kommer automatiskt att användas vid nästa runda!
          <br><br>
          Vem klarar sig längst?! Finns bara ett sätt att få reda på det!
      </div>
    </div>
    <div class="footer">
      <button ng-click="closePopup()">Stäng</button>
    </div>
  </div>

</div>

</div>

</body>
</html>
