* {
  padding: 0;
  margin: 0;
  border: 0; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

md-input-container .md-input,
input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white; }

md-chips .md-chips {
  box-shadow: 0 1px rgba(255, 255, 255, 0.2); }

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Light';
  background-color: #1d1f27 !important; }

@font-face {
  font-family: 'typicons';
  src: url("/bower_components/typicons/src/font/typicons.eot");
  src: url("/bower_components/typicons/src/font/typicons.eot?#iefix") format("embedded-opentype"), url("/bower_components/typicons/src/font/typicons.woff") format("woff"), url("/bower_components/typicons/src/font/typicons.ttf") format("truetype"), url("/bower_components/typicons/src/font/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Rockey;
  src: url(../fonts/ROCKYAOE.ttf); }
a {
  color: #d82845;
  text-decoration: none; }

.STABEN {
  font-family: 'Rockey';
  color: #e23827;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7); }

#lobby {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(/img/lobby/background_2.png);
  background-size: cover; }
  #lobby .Logo {
    width: 800px;
    margin: 60px auto;
    text-align: center;
    color: white; }
    #lobby .Logo h2 {
      font-size: 40px; }
    #lobby .Logo p {
      font-size: 20px; }
  #lobby .LobbyMenu {
    background-color: #1d1f27;
    width: 750px;
    margin: 60px auto 0 auto;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75); }
    #lobby .LobbyMenu .Header {
      background-color: #e23827;
      color: white;
      text-align: center;
      padding: 8px 0;
      position: relative; }
      #lobby .LobbyMenu .Header .Backward {
        top: 3px;
        left: 8px;
        font-size: 20px;
        position: absolute; }
    #lobby .LobbyMenu .LobbyContent {
      padding: 16px; }
      #lobby .LobbyMenu .LobbyContent .Buttons {
        display: flex; }
        #lobby .LobbyMenu .LobbyContent .Buttons .BigButton {
          margin: 40px 40px 20px 40px;
          flex: 1;
          height: 200px;
          background-color: #ff3366;
          color: white;
          text-align: center;
          line-height: 200px;
          font-weight: bold;
          cursor: pointer;
          font-size: 18px;
          transition-duration: 0s; }
          #lobby .LobbyMenu .LobbyContent .Buttons .BigButton:hover, #lobby .LobbyMenu .LobbyContent .Buttons .BigButton:focus {
            transition-duration: 0s;
            background-color: #fe0044; }
      #lobby .LobbyMenu .LobbyContent .Help {
        text-align: center; }
        #lobby .LobbyMenu .LobbyContent .Help a {
          display: inline-block;
          margin-top: 4px; }
        #lobby .LobbyMenu .LobbyContent .Help .typcn {
          border: 2px solid white;
          padding: 0;
          margin: 0;
          border-radius: 100%;
          font-size: 14px;
          line-height: 19px;
          width: 20px;
          height: 20px;
          color: white;
          display: inline-block; }

#Game {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1d1f27; }
  #Game .Header {
    background-color: #e23827;
    color: white;
    padding: 10px 10px; }
    #Game .Header p {
      text-align: center;
      margin-bottom: 8px; }
    #Game .Header button {
      color: white;
      background-color: #1d1f27;
      display: block;
      margin: auto;
      text-align: center;
      padding: 8px 16px; }
  #Game .SettingsButton {
    position: absolute;
    top: 120px;
    padding: 8px 12px;
    border-radius: 0 8px 8px 0;
    display: inline-block;
    background-color: black;
    font-size: 28px;
    color: white; }
  #Game .Spinners {
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 960px;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }

.Carousel {
  flex: 1;
  transition-duration: 1s; }
  .Carousel .Title {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    height: 40px; }
  .Carousel .CarouselContainer {
    width: 200px;
    height: 80px;
    position: relative;
    margin: 0px 18px 50px 18px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px; }
    .Carousel .CarouselContainer .CarouselWheel {
      transition-duration: 1s;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      .Carousel .CarouselContainer .CarouselWheel figure {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        position: absolute;
        width: 186px;
        height: 60px;
        left: 6px;
        top: 6px;
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-align: center;
        background-color: #e25423; }
      .Carousel .CarouselContainer .CarouselWheel button {
        margin-top: 200px; }

.LobbyCreation .Top {
  display: flex; }
  .LobbyCreation .Top label {
    display: block;
    color: white;
    padding: 4px 0; }
  .LobbyCreation .Top .Fields {
    flex: 1;
    padding: 0 20px; }
    .LobbyCreation .Top .Fields input {
      color: black;
      display: block;
      width: 100%;
      padding: 6px 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      .LobbyCreation .Top .Fields input.NewPlayer {
        width: 88%;
        display: inline-block; }
    .LobbyCreation .Top .Fields ul.PlayerList {
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.5);
      list-style: none;
      color: rgba(255, 255, 255, 0.8); }
      .LobbyCreation .Top .Fields ul.PlayerList li {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px 10px; }
        .LobbyCreation .Top .Fields ul.PlayerList li p {
          display: inline-block; }
        .LobbyCreation .Top .Fields ul.PlayerList li .typcn {
          display: inline-block;
          float: right;
          cursor: pointer; }
        .LobbyCreation .Top .Fields ul.PlayerList li:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.4); }
    .LobbyCreation .Top .Fields button {
      margin: 5px 0;
      display: inline-block;
      width: 10%;
      height: 26px;
      background-color: #e23827;
      color: white;
      cursor: pointer; }
  .LobbyCreation .Top .Settings {
    flex: 1;
    padding: 0 10px; }
    .LobbyCreation .Top .Settings select {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 6px 8px; }
    .LobbyCreation .Top .Settings .Time {
      display: flex;
      margin: 0 0 10px 0; }
      .LobbyCreation .Top .Settings .Time .Column {
        flex: 1;
        text-align: center; }
        .LobbyCreation .Top .Settings .Time .Column input {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          padding: 6px 8px;
          display: inline-block;
          width: 90%; }
.LobbyCreation .Create {
  width: 100%;
  background-color: #e23827;
  color: white;
  margin-top: 20px;
  padding: 8px; }

.LobbyJoin input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.LobbyListItem {
  color: white;
  text-align: left;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2); }
  .LobbyListItem:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.4); }
  .LobbyListItem label {
    display: inline-block;
    color: white;
    padding: 4px 0;
    font-weight: bold;
    font-size: 14px; }
  .LobbyListItem .MiniInfo {
    padding: 8px 50px 8px 10px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: none; }
    .LobbyListItem .MiniInfo p {
      vertical-align: middle;
      flex: 1;
      text-align: left;
      font-size: 14px;
      display: inline-block; }
      .LobbyListItem .MiniInfo p.PlayerCount {
        text-align: right;
        font-size: 12px;
        color: #cfcfcf; }
    .LobbyListItem .MiniInfo .typcn {
      position: absolute;
      right: 18px;
      top: 6px;
      text-align: center; }
  .LobbyListItem .Information {
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none; }
    .LobbyListItem .Information .Left {
      flex: 1; }
      .LobbyListItem .Information .Left .LobbyName {
        display: inline-block;
        font-size: 14px;
        color: #cfcfcf; }
      .LobbyListItem .Information .Left ul.PlayerList {
        display: inline-block;
        margin-top: 5px;
        font-size: 12px;
        list-style: none;
        text-align: center;
        width: 50%;
        display: flex; }
        .LobbyListItem .Information .Left ul.PlayerList li {
          flex: 1; }
      .LobbyListItem .Information .Left .PlayersCount,
      .LobbyListItem .Information .Left .LobbyStatus {
        font-weight: 300;
        font-size: 12px;
        display: inline-block; }
    .LobbyListItem .Information .Right {
      flex: 1; }
      .LobbyListItem .Information .Right .JoinLobby {
        background-color: #e23827;
        color: white;
        margin: 20px 40px;
        padding: 20px 40px;
        font-weight: bold;
        float: right; }

.GameSettings md-sidenav {
  background-color: #1d1f27 !important; }
  .GameSettings md-sidenav label {
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    display: block; }
  .GameSettings md-sidenav md-chips {
    display: block; }
    .GameSettings md-sidenav md-chips .md-chip {
      background-color: #e23827;
      color: #eee; }
  .GameSettings md-sidenav md-slider {
    padding: 0 20px; }
