doctype html(lang='en')
head
  meta(charset='utf-8')
  title Dödskrök.se - Spel - Powered by STABEN
  link(href='http://fonts.googleapis.com/css?family=Roboto:100,700italic,300,700,400', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='bower_components/typicons/src/font/typicons.min.css')
  link(rel='stylesheet', href='stylesheets/normalize.css')
  link(rel='stylesheet', href='bower_components/flexboxgrid/dist/flexboxgrid.min.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  script(src='bower_components/angular/angular.js')
  script(type='text/javascript', src='javascripts/angular.audio.js')
  script(src='javascripts/dkgame.js')
  //
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60624848-1', 'auto');ga('send', 'pageview');</script>
body(ng-app='dk')
  #navigation(ng-hide='$root.hideMenu')
    h2.staben STABEN
    p presenterar
    h3 dödskrök.se
    nav(ng-controller='MenuCtrl')
      ul
        li.active
          a(href='index.html') Spelet
        li
          a(ng-click="profile('staben')") Profil - STABEN
        li
          a(ng-click="profile('dgroup')") Profil - D-Group 14/15
        li
          a(ng-click="profile('cc')") Profil - CC 13/14
        li
          a(ng-click="profile('720')") Profil - 720
    p.mail
      | Vill du ha en profil inlagd?
      br
      | Maila ante@d&ouml;dskr&ouml;k.se
    p.version
      | Version 3.0.2 -
      a(href='changelog.html') Changelog
  block content
